body {
    overflow: hidden;
  }

  .resizer {
    display: inline-block;
    width: 5px;
    height: 100%;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action: none;
  }

  .resizer:hover {
    background: #aaa;
    cursor: col-resize;
  }

  .cell-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
  }

  tr.highlighted {
    background-color: rgba(255, 255, 255, 0.1);
  }

  tr:hover {
    cursor: pointer;
  }

  th, td {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  th:last-child, td:last-child {
    border-right: none;
  }

  th {
    text-align: center;
    vertical-align: middle;
  }

  .table-container {
    margin: 10px;
    position: absolute;
    left: 0;
    overflow-y: auto;
  }

  .vertical-divider {
    width: 5px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: ew-resize;
    z-index: 10;
  }

  .delete-button:hover {
    background-color: #ff3333;
  }

  .delete-button:disabled {
    background-color: #888888;
    cursor: not-allowed;
  }

  .edit-add-container {
    display: block;
    padding: 0px 20px;
    justify-content: center;
    background: none;
    overflow-y: auto !important;
  }

  .popup-container.Mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000; /* Ensure it's above all other elements */
    animation: backgroundFadeIn 0.5s ease-in-out forwards;
  }

  .popup-content {
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    width: 90%;
    max-width: 500px;
    animation: slideDown 0.3s ease-out;
  }

  @media (prefers-color-scheme: dark) {
    .popup-content {
      background-color: #242424; /* Dark mode background color */
    }
  }

  @media (prefers-color-scheme: light) {
    .popup-content {
      background-color: #ffffff; /* Light mode background color */
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes backgroundFadeIn {
    from {
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      background-color: rgba(0, 0, 0, 0.5); /* Docelowy kolor tła */
    }
  }

  .p-w-50{
    width: 50%;
  }